<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="card">
    <div class="card-title">
      <h1><%= @post.title %></h1>
    </div>
    <div class="card-body">
      <%= @post.description %>
    </div>
    <div class="links">
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>

<div class="answer-list">
  <% @post.answers.each do |answer| %>
    <%= answer.content %>
  <% end %>
</div>
<div id="create-answer-div" >
 <%= simple_form_for([@user, @answer]) do |f| %>
  <div class="field" >
    <%= f.text_area :content, hide_label: :true, :id => "text-answer-area" %>
  </div>
    <%= f.hidden_field :post_id, :value => @post.id %>
   <div class="actions" id= "post-answer">
     <%= f.submit 'Répondre' %>
   </div>
 <% end %>
</div>

